@import '../../variables.scss';

* {
  box-sizing: border-box;
}

.shop__buy {
  a {
    margin: 0.5em;
    text-decoration: none;
    color: $light-color;
    font-family: $font-family;
  }
}

.shop__buy {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.shop__buy a {
  font-family: $font-family;
  font-weight: bolder;
}

.shop__merch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shop__merch__img {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .shop__merch {
    flex-direction: column;
  }

  .shop__merch__img {
    width: 80%;
    height: auto;
  }
}
