@import '../../variables.scss';

* {
  box-sizing: border-box;
}

.shop {
  
  a {
    display: inline-block;
    margin: 1em 0;
    padding: 0 2em;
    text-decoration: none;
    color: $nav-item-color;
    font-family: $font-family;
    font-size: $fontsize-nav-item;
  }
}
