@import '../../variables.scss';

.spotify__title-link {
  text-decoration: none;
  color: $primary-color;
}

.spotify__title {
  text-align: center;
  color: $light-color;
  font-size: medium;
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
}
