@import '../../variables.scss';

.promotion__image {
  margin: 1em;
  width: 70%;
  height: auto;
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  .promotion__image {
    width: 50%;
    height: auto;
    border-radius: 0.2em;
  }
}
