$content-flex: 9;
$fontsize-p: 1rem;
$fontsize-nav: 1em;
$fontsize-nav-item: 1.5em;
$fontsize-nav-item-mobile: 1.2em;
$typing-font: 3rem;
$light-color: #ffffff;
$primary-color: #3071e8ff;
$dark-color: rgba(0, 0, 0, 0.87);
$hob: #e2bf23;
$poppunk: lightpink;
$font-family: 'NunitoSans';
$footer: $dark-color;
$light-gray: lightgray;
$blood: red;
$section-color: $light-color;
$contact-section-color: lightyellow;
$linkme-background: rgb(255 255 255 / 17%);
